{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Перечень продаваемых товаров</h1>
  {% if messages %}
    <div class="alert alert-success">
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
  <h4>
    <a href="{% url 'add_product' %}">
<button class="btn btn-primary" style="background-color: #222222; color: white;"
    onmouseover="this.style.backgroundColor='#337ab7'; this.style.color='#white';"
    onmouseout="this.style.backgroundColor='#222222'; this.style.color='white';">
  Добавить новый товар</button></a>
  </h4>
  <h3>
    <ul>
      {% for p in products %}
      <li><a href="{% url 'get_product' id=p.id %}" class="btn">{{ p.name }}</a></li>
      {% endfor %}
    </ul>
  </h3>
</div>
{% endblock %}