{% extends "base.html" %}

{% block main %}
  <h1 class="page-header">Система Управления Торговлей</h1>

  <h2>Личная информация</h2>
  <p>Почта: {{ request.user.email }}</p>
  <p>Имя: {{ request.user.first_name }}</p>
  <p>Фамилия: {{ request.user.last_name }}</p>
  <p>Телефон: {{ request.user.username }}</p>

  <h2 class="page-header">Статистика торговых точек</h2>
  <form id="statisticsForm">
      <div class="form-group">
          <label for="marketSelect">Выберите торговую точку:</label>
          <select id="marketSelect" class="form-control">
          </select>
      </div>
      <div class="form-group">
          <label for="periodSelect">Выберите период:</label>
          <select id="periodSelect" class="form-control">
              <option value="last_week">Последняя неделя</option>
              <option value="last_month">Последний месяц</option>
              <option value="last_year">Последний год</option>
              <option value="all_time">Все время</option>
          </select>
      </div>
      <button type="submit" class="btn btn-primary">Показать</button>
  </form>

  <canvas id="salesChart" width="400" height="200"></canvas>

  <h2 class="page-header">Настройки Администратора</h2>

  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.getElementById('statisticsForm');
      const marketSelect = document.getElementById('marketSelect');
      const chartCanvas = document.getElementById('salesChart');
      let salesChart;

      fetch('/market/list/', {
          method: 'GET',
      })
      .then(response => response.json())
      .then(data => {
          data.forEach(place_name => {
              const option = new Option(place_name);
              marketSelect.add(option);
          });
      })
      .catch(error => console.error('Ошибка:', error));

      form.addEventListener('submit', function(e) {
          e.preventDefault();
          const marketId = marketSelect.value;
          const period = document.getElementById('periodSelect').value;

          fetch(`/graf/selling/?date=${period}&market=${marketId}`, {
              method: 'GET',
          })
          .then(response => response.json())
          .then(data => {
              const labels = Object.keys(data);
              const values = Object.values(data);

              if (salesChart !== undefined) {
                  salesChart.destroy();
              }

              salesChart = new Chart(chartCanvas, {
                  type: 'line',
                  data: {
                      labels: labels,
                      datasets: [{
                          label: 'Продажи',
                          data: values,
                          borderColor: 'rgb(75, 192, 192)',
                          tension: 0.1
                      }]
                  },
                  options: {
                      scales: {
                          y: {
                              beginAtZero: true
                          }
                      }
                  }
              });
          })
          .catch(error => console.error('Ошибка:', error));
       });
   });
  </script>
{% endblock %}