{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">История продаж на рынке</h1>
  <table class="table">
    <tr>
        <th>Помещение</th>
        <th>Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Время</th>
    </tr>
    {% for i in data %}
    <tr>
        <td><a href="{% url 'get_place' id=i.place.id %}">{{ i.place.name }}</a></td>
        <td><a href="{% url 'get_product' id=i.product.id %}">{{ i.product.name }}</a></td>
        <td>{{ i.price }}</td>
        <td>{{ i.amount }}</td>
        <td>{{ i.time }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
