{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">История продаж на рынке</h1>
  <table class="table">
    <tr>
        <th>Помещение</th>
        <th>Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Время</th>
    </tr>
    {% for selling, product, place in data %}
    <tr>
        <td><a href="{% url 'get_place' id=place.id %}">{{ place.name }}</a></td>
        <td><a href="{% url 'get_product' id=product.id %}">{{ product.name }}</a></td>
        <td>{{ selling.price }}</td>
        <td>{{ selling.amount }}</td>
        <td>{{ selling.time }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
