{% extends 'base.html' %}

<style>
.btn {
  background-color: #4CAF50; /* Зеленый */
  color: white;
  padding: 16px 20px;
  margin: 8px
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #45a049; /* Чуть темнее оттенок зеленого */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Добавляем тень */
}
</style>


{% block main %}
<div class="container">
  <h1 class="page-header">Торговые точки</h1>
  {% if messages %}
    <div class="alert alert-success">
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
    <div class="container" style="margin-bottom:10px">
    <a href="{% url 'add_to_market' %}">
<button class="btn btn-primary" style="background-color: #222222; color: white;"
    onmouseover="this.style.backgroundColor='#337ab7'; this.style.color='#white';"
    onmouseout="this.style.backgroundColor='#222222'; this.style.color='white';">
    Добавить позицию в торговую точку</button>
    </a>
    <a href="{% url 'market_history' %}">
<button class="btn btn-primary" style="background-color: #222222; color: white;"
    onmouseover="this.style.backgroundColor='#337ab7'; this.style.color='#white';"
    onmouseout="this.style.backgroundColor='#222222'; this.style.color='white';">
    История</button>
    </a>
    </div>
  <table class="table">
    <tr>
        <th>Помещение</th>
        <th>Товар</th>
        <th>Цена</th>
        <th>Количество</th>
    </tr>
{% for i in data %}
<tr>
    <td><a href="{% url 'get_place' id=i.place.id %}" class="btn">{{ i.place.name }}</a></td>
    <td><a href="{% url 'get_product' id=i.product.id %}" class="btn">{{ i.product.name }}</a></td>
    <td>{{ i.price }}</td>
    <td>{{ i.amount }}</td>
    <td><a href="{% url 'sell_from_market' id=i.id %}">
        <button class="btn btn-primary" style="background-color: #1db93e; color: white;"
    onmouseover="this.style.backgroundColor='#1BA93C'; this.style.color='#white';"
    onmouseout="this.style.backgroundColor='#1db93e'; this.style.color='white';">
        Продажа</button></a></td>
    <td><a href="{% url 'return_from_market' id=i.id %}">
        <button class="btn btn-danger">Возврат на склад</button></a></td>
    <td><a href="{% url 'update_to_market_new' pk=i.id %}">
        <button class="btn btn-primary">Изменение позиции</button></a></td>

</tr>
{% endfor %}
  </table>
</div>
{% endblock %}