{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Склад</h1>
  {% if messages %}
    <div class="alert alert-success">
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
  <a href="{% url 'add_to_storage' %}" class="btn">Добавить товары на склад</a>
  <table class="table">
    <tr>
        <th>Помещение</th>
        <th>Товар</th>
        <th>Количество</th>
    </tr>
{% for i in data %}
<tr>
    <td><a href="{% url 'get_place' id=i.place.id %}" class="btn">{{ i.place.name }}</a></td>
    <td><a href="{% url 'get_product' id=i.product.id %}" class="btn">{{ i.product.name }}</a></td>
    <td>{{ i.amount }}</td>
    <td><a href="{% url 'write_off_from_storage' id=i.id %}" class="btn">Списать</a></td> <!-- Исправлено с storage.id на i.id -->
</tr>
{% endfor %}
  </table>
</div>
{% endblock %}